.c-title {
    text-align: center;
    margin: 0 auto 20px;
    max-width: 460px;

    img {
        width: auto;
        margin: 0 auto;
    }

    h1 {
        font-family: 'Archivo Black', sans-serif;
        font-size: 40px;
        color: #3b3735;
        line-height: 1.3;
    }
}