h2 {
    color: #a52a2a;
}

.c-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c-wrapper__text {
    width: calc(32.5% - 20px);
    border: 1px solid #333;
    padding: 0 10px;   
}

.c-wrapper__text:last-child {
    background-color: #a52a2a;
    color: #fff;
}